.card {
  margin: 5px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #d8d9dc;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card_img {
  background: rgba(128, 128, 128, 0.361);
  height: 25px;
  width: 25px;
  border-radius: 50px;
  overflow: hidden;
}
.card_img > p {
  font-size: 14px;
}
.card_content {
  font-weight: 500;
}
.card_tags {
  margin-top: 5px;
}
.card_tag {
  height: 25px;
  margin-right: 5px;
  display: inline-flex;
  align-items: center;
  padding: 2px 6px;

  border: 1px solid #9c9ea3;
  border-radius: 3px;
}
.card_tag > p {
  margin-left: 5px;
}
.card_tag > div > div {
  border-radius: 20px;
  height: 12px;
  width: 12px;
  background: gray;
}
