.filterDialogBox {
  min-width: 250px;
  top: 50px;
  padding: 15px;
  border-radius: 5px;
  background: #fff;
  position: absolute;
  border: 1px solid #d8d9dc;
  z-index: 99999;
  animation: fadeIn 0.5s ease;
}
.filterDialogBox_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filterDialogBox_item > label {
  color: #6a6a6a;
}
.filterDialogBox_item:last-child {
  margin-top: 15px;
}
.filterDialogBox_dropdown {
  border: 1px solid #d8d9dc;
  border-radius: 3px;
  padding: 3px 2px;
  width: 85px;
  outline: navajowhite;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
