.nav {
  margin: 10px;
  padding: 5px 15px;
  height: 40px;
}
.nav_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_button > p {
  margin: 0 2px;
}
.nav_button > span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
}
